@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

/* com essas propriedades eu reseto minha pagina para ir posicionando os conteudos dentro da minha pagina da maneira que eu quero */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}


/* é o corpo da minha pagina  */
body {
    /* alinha minha pokedex no meio da tela */
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
    
}


/* é o conteudo da minha pagina onde desenvolvo todo o conteudo */
main {

    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    /* position: relative respeita os elementos ficarem em cima da pokedex */
    position: relative;
    /* tira a barra de rolagem da pagina */
    max-width: 20vw;
    min-width: 350px;

}

/* isso é uma classe para minha pokedex obedecer as proporções que dei a ela*/
.pokedex {

    width: 100%;
    /* max-width serve para colocar meu cavaleiro ao lado da pokedex */
    max-width: 425px;

}

/* é uma classe para os videos ficarem no lugar correto dentro da pokedex */
.saint_image {
    /* position: absolute serve para deixar a imgaem do cavaleiro em cima da pokedex */
    position: absolute;
    bottom: 55%;
    left: 55%;
    /* transform:translate pega meu cavaleiro e coloca ele no centro da pokedex */
    transform: translate(-63%, 20%);
    /* Essas medidas abaixo mudam o tamanho do cavaleiro no centro da pokedex */
    height: 30%;
    width: 60%;
}

/* é o titulo que aparece na pokedex e numeração do mesmo */
h1.saint_data {

    /* position: absolute; deixa os nomes dentro da pokedex  */
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 48%;
    right: 27%;
    /* font-size: clamp(min, desejavel, maximo); serve p/ manter o tamanho da fonte desejavel com medidades de min, max, e o normal  */
    font-size: clamp(8px, 5vw, 25px);
}


/* aqui são as configurações do meu conteiner das informações dos cavaleiros */
.paragrafo {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    font-size: 0.1.1vw;
    position: absolute;
    /* Deixa o texto no meio da pokedex */
    margin-top: 80%;
    margin-left: 14%;
    display: flex;
    /* Mantem o texto no centro da pokedex */
    flex-direction: column;
    width: 0.3px;

}

/* aqui é uma classe para o meu paragrafo ficar no lugar correto na pagina e obedecer o tamanho correto da pokedex */
.p1 {

    font-size: 70%;
    /* deixa o texto responsivo na pokedex */
    max-width: 20vw;
    min-width: 350px;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: justify;
   /* Os comandos abaixo muda a cor da letra da pokedex */
   color: yellow;

}

/* isso é uma outra classe para posicionar outro paragrafo na minha pagina e fazer um efeito de duas cores */
.p2 {
    font-size: 70%;
    max-width: 20vw;
    min-width: 350px;
    text-align: start;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    /* os tres comandos abaixo coloca duas cores nas letras */
    background-image: linear-gradient(to right, rgb(246, 255, 0), rgb(39, 7, 144), blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

/* mostra os numeros do meu cavaleiro de acordo quando clica no botão proximo */
span.saint_name {
    color: #3a444d;
    /* text-transform: capitalize; deixa somente a primeira letra do nome em Maiusculo */
    text-transform: capitalize;

}

/* cria o conteiner para adicionar os botoões avançar e voltar */
.buttons {
    position: absolute;
    bottom: 7.5%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    /* display: flex; deixa os botões um do lado do outro */
    display: flex;
    /* gap: 10px;  faz um espaço entre os botões */
    gap: 10px;

}

/* personaliza os botões dentro do conteiner criado */
.button {

    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px #222, -4px 6px 0 #000;

}

/* isso serve para deixar em azul ao clicar nos botões, simulando um clique de seleção se vc clicar e segurar vai perceber isso */
.button:active {

    box-shadow: inset -4px 4px 0 #222;
    background-color: rgb(39, 24, 122);
    font-size: 0.9rem;

}


/* gera uma cor para o link criado na pagina */
a {
    color: rgb(255, 255, 255);
}

/* cria um rodape no final da ultima pagina colocando os direitos autorias para eu que fiz a pagina */
footer {

    background-color: rgb(114, 114, 220);
    color: white;
}


.resumo
{
    display: flex;
    flex-direction: column;
    padding: 2% 15%;
    box-sizing: border-box;
    font-size: 16px;
}

/* isso é para minha pokedex 2.0 que está em produção */
.resumo-text
{
    background: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    width: 100%;
    display: inline-block;
    border: 1px solid rgb(51, 167, 178);
    border-radius: 6px;
}

/* serve para adicionar na nova pokedex 2.0 que estou criando */
.text-rm a
{
  
    color:#339393;
    font-weight: bolder;
    cursor: pointer;
}


/* esse é o tamanho do meu texto dentro da pokedex */
.resumo-text .text-rm
{
    padding: 2%;
}

/* esse é o tamanho do meu titulo dentro da pokedex */
.resumo-text .resu-tittle
{
    background: #25acc0;
    border:10px solid #25acc0; 
    border-radius: 6px 6px 0px 0px;
    padding: 10px;
}

/* esse é o tamanho da fonte dentro da minha pokedex */
.resumo-text .resu-tittle h3
{
   
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 18px;
}

/* serve para adicionar na pokedex 2.0 que ainda está em produção, decidi não deixar comentado para apresentar melhor vizualição dos comandos */
#mais {
    height: 100vh;
    width: 100vw;
    display: flex;
    text-align: justify;
    text-indent: 30px;
    display: block;
    display: none;
}